<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

</head>

<body>

	<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-plus"></span>Entry Form</a>
		<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-file"></span>XML Files</a>
		<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-file"></span>Visio Files</a>
	</div>
	</nav>

	<div class="container" id="form">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Enter details for xml file</div>
			<div class="panel-body">
				Various text fields must be completed<br><br>
				Platform: <input class="form-control" v-model="form.Platform">
				Subsystem: <input class="form-control" v-model="form.Subsystem">
				Category: <br>		<select v-model="form.Category">
									<option v-for="optionCategory in optionsCategory" v-bind:value="optionCategory.text">
										{{optionCategory.text}}
									</option>
									</select><br>
				Functional Area:<br>
									<select v-model="form.FunctionalArea">
									<option v-for="optionFuncArea in optionsFunctionalArea" v-bind:value="optionFuncArea.text">
										{{optionFuncArea.text}}
									</option>
									</select><br>
				Physical Layer:<br>
									<select v-model="form.LayerPhysical">
									<option v-for="optionLayerPhysical in optionsLayerPhysical" v-bind:value="optionLayerPhysical.text">
										{{optionLayerPhysical.text}}
									</option>
									</select><br>
				Application Layer:<br>
									<select v-model="form.LayerApplication">
									<option v-for="optionLayerApplication in optionsLayerApplication" v-bind:value="optionLayerApplication.text">
										{{optionLayerApplication.text}}
									</option>
									</select><br>
				Integration Layer:<br>
								 	<select v-model="form.LayerIntegration">
									<option v-for="optionLayerIntegration in optionsLayerIntegration" v-bind:value="optionLayerIntegration.text">
										{{optionLayerIntegration.text}}
									</option>
									</select><br>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Enter Made Of</div>
			<div class="panel-body">
				Made Of:<br>		<input class="form-control"
									v-model="form.MadeOf">
									<button class="btn btn-primary" v-on:click="addMadeOf()">Add Made Of</button>
									<div class="list-group">
										<p class="list-group-item" v-for="(item,idx) in form.array_madeOf">{{item}}
										<button class="btn btn-secondary btn-sm" v-on:click="deleteElement('madeOf',idx)">Delete</button></p>
									</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Enter Part Of</div>
			<div class="panel-body">
				Part Of:<br>		<input class="form-control" 
									v-model="form.PartOf">
									<button class="btn btn-primary" v-on:click="addPartOf()">Add Part Of</button>
									<div class="list-group">
										<p class="list-group-item" v-for="(item,idx) in form.array_partOf">{{item}}
										<button class="btn btn-secondary btn-sm" v-on:click="deleteElement('partOf',idx)">Delete</button></p>
									</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Enter things from adjacents</div>
			<div class="panel-body">
				Adjacent From:<br>	<input class="form-control" 
									v-model="form.AdjacentFrom">
				<button class="btn btn-primary" v-on:click="addAdjFrom()">Add Adjacent From</button>
				<div class="list-group">
					<p class="list-group-item" v-for="(adj,idx) in form.array_adjFrom">
					{{adj}}
					<button class="btn btn-secondary btn-sm" v-on:click="deleteElement('adjacentFrom',idx)">Delete</button></p>
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Enter things to adjacents</div>
			<div class="panel-body">
				Adjacent To Name:<br>
									<input class="form-control" v-model="form.AdjacentTo.name">
				Adjacent To Function:<br>
									<select v-model="form.AdjacentTo.function">
									<option v-for="optionAdjacentToFunction in optionsAdjacentToFunction" v-bind:value="optionAdjacentToFunction.text">
									{{optionAdjacentToFunction.text}}
									</option>
									</select>
				<button class="btn btn-primary" v-on:click="addAdjTo()">Add Adjacent To</button>
				<div class="list-group">
					<p class="list-group-item" v-for="(adj,idx) in form.array_adjTo">
					{{adj.name}} : {{adj.function}}
					<button class="btn btn-secondary btn-sm" v-on:click="deleteElement('adjacentTo',idx)">Delete</button></p>
					</p>
				</div>
			</div>
		</div>
	</div>

				<br>
				<button class="btn btn-danger" v-on:click="submitForm(index)">Add Field</button>
<!--<select v-model="" multiple name="">-->

		<!-- TODO Keep local copies of each entry, then upload many at once when online
			<p>List of items: <span class="glyphicon glyphicon-plus"></span></p>
			<button class="btn btn-primary">Upload System Info (Not Connected)</button>-->
			
		</div>
	</div>
	</div>

<!-- JS -->
<script src="vue/dist/vue.js"></script>
<script src="vue-resource/dist/vue-resource.js"></script>
<script src="app.js"></script>
</body>
</html>
