<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

</head>

<body>

	<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-plus"></span>Entry Form</a>
		<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-file"></span>XML Files</a>
		<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-file"></span>Visio Files</a>
	</div>
	</nav>

	<div class="container" id="form">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
			Enter details for xml file
			</div>
			<div class="panel-body">
				Various text fields must be completed<br><br>
				Title: <input class="form-control" v-model="form.title">
				Value: <input class="form-control" v-model="form.value">
				<button class="btn btn-primary" v-on:click="addForm(index)">Submit</button>
			</div>
		</div>
		
		<div class="panel panel-default">
			<p>List of items: <span class="glyphicon glyphicon-plus"></span></p>
			<div class="list-group">
				<p class="list-group-item" v-for="(formElem,idx) in formArray"><button v-on:click="editRow(idx)">Edit</button>{{formElem.title}} : {{formElem.value}}
				</p>
			</div>
		</div>
	</div>
	</div>

<!-- JS -->
<script src="vue/dist/vue.js"></script>
<script src="vue-resource/dist/vue-resource.js"></script>
<script src="app.js"></script>
</body>
</html>
